<div class="title">
  <span class="title-text"> JAVA AND QUERY</span><br/>
  <span claas="title-description">MORE RELEVANT FOR DSIGNIN</span>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @javaqueries.each do |javaquery| %>
      <tr>
        <td><%= javaquery.title %></td>
        <td><%= javaquery.code %></td>
        <td><%= link_to 'Show', javaquery %></td>
        <td><%= link_to 'Edit', edit_javaquery_path(javaquery) %></td>
        <td><%= link_to 'Destroy', javaquery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Javaquery', new_javaquery_path %>
