<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @javaquery.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @javaquery.code %>
</p>

<%= link_to 'Edit', edit_javaquery_path(@javaquery) %> |
<%= link_to 'Back', javaqueries_path %>
