<%= form_with(model: css, local: true) do |form| %>
  <% if css.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(css.errors.count, "error") %> prohibited this css from being saved:</h2>

      <ul>
      <% css.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="title">
  <div class="form-group">
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :ttle, :class => "form" %>
    </div>

    <div class="field">
      <%= form.label :code %>
      <%= form.text_area :code, :class => "form" %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
</div>

<% end %>
