<div class="title">
  <span class="title-text">CSS EXERCISE</span><br/>
  <span class="title-description">DSIGN AND ANIMATION</span>
  <a class="btn btn-primary" href="<%= new_css_path %>" role="button">Add</a>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @csses.each do |css| %>
      <tr>
        <td><%= css.ttle %></td>
        <td><%= css.code %></td>
        <td><%= link_to 'Show', css %></td>
        <td><%= link_to 'Edit', edit_css_path(css) %></td>
        <td><%= link_to 'Destroy', css, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Css', new_css_path %>
