<p id="notice"><%= notice %></p>

<h1>Csses</h1>

<table>
  <thead>
    <tr>
      <th>Ttle</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @csses.each do |css| %>
      <tr>
        <td><%= css.ttle %></td>
        <td><%= css.code %></td>
        <td><%= link_to 'Show', css %></td>
        <td><%= link_to 'Edit', edit_css_path(css) %></td>
        <td><%= link_to 'Destroy', css, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Css', new_css_path %>
