<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bootstraping.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @bootstraping.code %>
</p>

<%= link_to 'Edit', edit_bootstraping_path(@bootstraping) %> |
<%= link_to 'Back', bootstrapings_path %>
